.body{
    background: linear-gradient(rgb(121, 189, 238), rgb(213, 236, 246));
}    


h1{
    text-align: center;
    color: black;
}    


.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}    


.presentacion {
    width: 50%;
    color: blue;
    padding-top: 40px; 
    text-align:center;
    font-size: 30px;
}


.foto {
    width: 50%;
    text-align: center;
}